* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
  }
  
label {
  font-size: larger;
}
  
body{
  background-color: #1d1c1c;
}
  textarea {
    margin-top: 20px;
  }
  
  /* ----------- Tampil.php ----------- */
  
  thead tr {
    background-color: #292828;
    color: black;
  }
  
  th {
    padding: 10px 5px;
  }
  
  td {
    height: 40px;
    border-bottom: 1px solid grey;
  }
  
  table {
    width: 90%;
  }
  table a {
    padding: 10px;
    border-radius: 5px;
  }
  /* .judul {
    background-color: #5F9DF7;
    color: white;
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 40px;
} */

.container{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.container img{
  width: 150px;
}

.container:after{
  content: "";
  display: block;
  clear: both;
}

header{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header h1{
  float: left;
  padding: 15px 0;
}

header ul{
  float: right;
}
header ul li{
  display: inline-block;
}
header ul li a{
  padding: 25px 20px;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
}

header ul a:hover{
  color: #FF1E1E;
  transition: 0.5s;
}

  .form-class {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }
  .form-text {
    width: 100%;
    height: 40px;
    margin: 10px 0px 20px;
  }
  .list-table {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Button */
  .tambah {
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #e51837;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .tambah:hover {
    background-color: #E64848;
  }
  .edit a {
    background-color: orange;
    color: white;
  }
  .edit a:hover {
    background-color: rgb(223, 145, 0);
  }
  .hapus a {
    background-color: red;
    color: white;
  }
  .hapus a:hover {
    background-color: rgb(179, 0, 0);
  }
  .btn-submit {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: larger;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(0, 155, 216);
    color: white;
  }
  
  .btn-submit:hover {
    background-color: rgb(1, 126, 175);
  }
  
  .judul {
    display: flex;
    align-items: center;
  }
  
  .akun {
    display: flex;
    align-items: center;
  }
  
  .akun p {
    padding-right: 50px;
  }
  
  .akun a{
    text-decoration: none;
    color: white;
  }